[package]
name = "nanoclaw-runtime"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true

[dependencies]
anyhow.workspace = true
serde_json.workspace = true
claws-runtime-core = { path = "../runtime-core" }

